---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=MSFT,AB,INVALID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: |2

        {
        "start" : "",
        "num" : "",
        "num_company_results" : "0",
        "num_mf_results" : "0",
        "num_all_results" : "",
        "original_query" : "MSFT,AB,INVALID",
        "query_for_display" : "MSFT,AB,INVALID",
        "results_type" : "DEFAULT",
        "searchresults" :
        [
        ]
        ,
        "mf_searchresults" :
        [
        ]
        }
  recorded_at: Sun, 03 Dec 2017 00:52:16 GMT
recorded_with: VCR 3.0.3
