---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=MSFT,AB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: |2

        {
        "start" : "",
        "num" : "",
        "num_company_results" : "",
        "num_mf_results" : "",
        "num_all_results" : "",
        "original_query" : "MSFT,AB",
        "query_for_display" : "MSFT,AB",
        "results_type" : "",
        "searchresults" :
        [
        {
        "title" : "Microsoft Corporation",
        "id" : "358464",
        "is_active" : "",
        "ticker" : "MSFT",
        "exchange" : "NASDAQ",
        "is_supported_exchange" : "",
        "local_currency_symbol" : "$",
        "columns" : [
        ]
        }
        , {
        "title" : "AllianceBernstein Holding LP",
        "id" : "640",
        "is_active" : "",
        "ticker" : "AB",
        "exchange" : "NYSE",
        "is_supported_exchange" : "",
        "local_currency_symbol" : "$",
        "columns" : [
        ]
        }
        ]
        ,
        "mf_searchresults" :
        [
        ]
        }
  recorded_at: Sun, 03 Dec 2017 00:38:59 GMT
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=MSFT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: |2

        // [
        {
        "symbol" : "MSFT",
        "exchange" : "NASDAQ",
        "id": "358464",
        "t" : "MSFT",
        "e" : "NASDAQ",
        "name" : "Microsoft Corporation"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=MSFT.O",
        "f_recent_quarter_date" : "Q3 (Sep \u002717)",
        "f_annual_date" : "2017",
        "f_ttm_date" : "2016",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=NASDAQ:MSFT"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "24,538.00"
        ,"annual" : "89,950.00"
        ,"ttm" : "85,320.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "24,538.00"
        ,"annual" : "89,950.00"
        ,"ttm" : "85,320.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "8,278.00"
        ,"annual" : "34,261.00"
        ,"ttm" : "32,780.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "16,260.00"
 [...]
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=AB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: |2

        // [
        {
        "symbol" : "AB",
        "exchange" : "NYSE",
        "id": "640",[...]
